body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}
