/* Colors: Deep Blue, Bright Orange, Lime Green, Sandy Beige, and Coral Red */

:root {
  --url-hiking: url("https://github.com/flos-code/glem-markup/assets/148456982/fd496d12-1704-4ea1-a436-a03d9135550f");
  --url-canoeing: url("https://github.com/flos-code/glem-markup/assets/148456982/ccb4a350-57ad-4d25-9810-0fd9af901605");
  --url-fishing: url("https://github.com/flos-code/glem-markup/assets/148456982/8706af35-9d2f-46d9-8dff-2296ce9f9342");
  --url-crafts: url("https://github.com/flos-code/glem-markup/assets/148456982/35c4e775-8281-4ea4-bebb-6d27081c9d53");
  --url-archery: url("https://github.com/flos-code/glem-markup/assets/148456982/adc7cdaf-22d1-4579-986f-b44e529557da");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka", sans-serif;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  background-image: var(--url-hiking), var(--url-canoeing), var(--url-fishing),
    var(--url-crafts), var(--url-archery);
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

#camp-activities-inquiry {
  background-image: url("https://github.com/flos-code/glem-markup/assets/148456982/c12968e1-7a35-4388-997a-39b76cf43c9f");
  background-size: 100% 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

h1 {
  width: 280px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url("https://github.com/flos-code/glem-markup/assets/148456982/17dc4b4e-140a-45b3-9c23-e3d3197e964a");
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 28px;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
  margin-block: unset;
  padding: 10px;
  margin-top: 64px;
}

form {
  background-image: url("https://github.com/flos-code/glem-markup/assets/148456982/34c3b238-a1b6-451d-8732-42d3d9f8bec1");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 8px 8px 8px;
  margin: 16px 32px 64px 32px;
  box-sizing: border-box;
  width: 400px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
}

#activity-select {
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin: 4px 0 8px 0;
  width: 80%;
  border-radius: 17px;
  border: 2px solid #e8a03d;
}

#activity-select:hover {
  cursor: pointer;
}

#activity-select:focus-visible {
  border: 2px solid #8d9900;
  outline: unset;
}

#food-allergies,
#additional-info {
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin: 4px 0 8px 0;
  width: 80%;
  border-radius: 17px;
  border: 2px solid #e8a03d;
  height: 64px;
  resize: none;
}

#food-allergies:focus-visible,
#additional-info:focus-visible {
  border: 2px solid #8d9900;
  outline: unset;
}

button {
  border: unset;
  width: 50%;
  padding: 4px 0;
  font-family: "Fredoka", sans-serif;
  font-size: 24px;
  border-radius: 18.5px;
  background-color: #8d9900;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0);
}

button:hover {
  cursor: pointer;
  background-color: #676f12;
}

button:active {
  background-color: white;
  color: #8d9900;
  border: 2px solid #8d9900;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #8d9900;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #7a8500;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8d9900 #f0f0f0;
}
